DATABASE_URL=
TELEGRAM_BOT_TOKEN=
TELEGRAM_BOT_USERNAME=
NEXT_PUBLIC_TELEGRAM_BOT_USERNAME=
TELEGRAM_WEBHOOK_SECRET=
APP_URL=
ADMIN_TG_IDS=
ADMIN_ACCESS_CODE=disabled
OPENDOTA_API_KEY=disabled
STEAM_WEB_API_KEY=disabled
BOT_SETUP_SECRET=
